{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}解約確認{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div style="height: 87vh;">
	<div class="title">
		<h2>解約</h2>
	</div>
	<div class="plan_wrapper">
		<h2 class="plan_change">解約の確認</h2>
		<div class="plan_form_wrapper" style="width:500px; margin: auto;">
			<p>解約に付きまして以下の点にご注意ください。</p>
			<div class="cancel_box">
				<ul>
					<li style="margin-bottom: 20px;">解約をすると、アカウントを復元することはできません</li>
					<li>解約後に以前収集したデータをDLすることはできません</li>
				</ul>
			</div>
		</div>
		<div class="plan_table_wrapper">
		    <div class="btn_table">
            <a href="{% url 'dashboard:profile_change' %}"><button type="button" class="btn btn_cancel">いいえ</button></a>
        </div>
		    <div class="btn_table">
            <form method="POST" action=".">
                {% csrf_token %}
                <button type="submit" class="btn btn_cancel" style="padding: 0.5em 3.5em;">はい</button>
            </form>
        </div>
		</div>
	</div>
</div>
{% endblock %}
