{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content%}

    <div class="sidebar" data-color="teal" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="logo"><a href="http://www.sms-datatech.co.jp" class="simple-text">PigData</a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="{% url 'dashboard:index' %}">
                        <i class="material-icons">dashboard</i>
                        <p>{% trans "Dashboard" %}</p>
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard:project_list' %}">
                        <i class="material-icons">content_paste</i>
                        <p>{% trans "Project Data" %}</p>
                    </a>
                </li>
                <!--
                <li>
                    <a href="{% url 'dashboard:project_schedule' %}">
                        <i class="material-icons">library_books</i>
                        <p>{% trans "Project Schedule" %}</p>
                    </a>
                </li>
                -->
                <li class="active">
                    <a href="{% url 'dashboard:change_password' %}">
                        <i class="material-icons">bubble_chart</i>
                        <p>{% trans "Change Password" %}</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboard:notification_setting' %}">
                        <i class="material-icons">notifications</i>
                        <p>{% trans "Settings" %}</p>
                    </a>
                </li>
                <li> </li>
                <li>
                    <a href="{% url 'dashboard:upgrade' %}">
                        <i class="material-icons">unarchive</i>
                        <p>{% trans "Upgrade" %}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% if request.session.isClientTool != 1 %}
    <div class="main-panel">
    {% else %}
    <div>
    {% endif %}

        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--div class="navbar-brand" href="">Welcome {{ user.username}} </div-->
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <li>
                           {% if request.session.isClientTool != 1 %}
                            <span class="material-input"><a href="{% url 'accounts:logout' %}" class="dropdown-toggle">{% trans "Logout" %} </a></span>
                           {% endif %}
                       </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="content">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}" style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                {{ form }}
            </br></br>
                <button type="submit" class="btn btn-primary btn-fill btn-info">{% trans "Save changes" %}</button>
            </form>
        </div>
        </div>
    </div>
{% endblock %}
