{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Data Order{% endblock %}

{% block css %}
    <!-- Calendar CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static 'assets/css/modal.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
        <div class="main-panel" style="width: 50%;">
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="heading">
                            <h4 class="title">{% trans "Data Order Form" %}</h4>
                        </div>
                        <div class="card-content" style="padding: 15px 40px 35px;">
                            <div class="table-responsive table-upgrade">
                                <p class="caution" style="float: right;"><sup>*</sup>{% trans "Mandatory fields" %}</p>
                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for f in form %}
                                        {% if f.errors %}<b>{% trans f.label %}</b>{{ f.errors }}{% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <form method="post" action="{% url 'dashboard:data_order_form' %}" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Person in Charge" %}</b></b></div></div>
                                        <div class="col-md-4"><div class="form-group">{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "URL" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-7"><div class="form-group">{{ form.url_list }}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Data Details" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-6"><div class="form-group">{{ form.data_details }}</div></div>
                                    </div>
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Due Date" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-2"><div class="form-group">{{ form.due_date }}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Acquisition Purpose" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-6"><div class="form-group">{{ form.purpose }}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Budget" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-4"><div class="form-group">{{ form.budget }}&nbsp;{% trans "yen" %}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Company Name" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-6"><div class="form-group">{{ form.company }}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Department Name" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-6">
                                            <div class="form-group">{{ form.department }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Contact Email" %}</b><sup>*</sup></div></div>
                                        <div class="col-md-6"><div class="form-group">{{ form.email }}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <b>{% trans "Phone Number" %}</b><sup>*</sup><br>
                                                <span style="font-size: 11px;">({% trans "without dash" %})</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6"><div class="form-group">{{ form.phone_number }}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><div class="form-group"><b>{% trans "Automatical Update" %}</b></div></div>
                                        <div class="col-md-4">
                                            <div class="form-group">{{ form.regular_order }}</div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-fill btn-info" name="form">{% trans "Complete" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<!-- Calendar JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script>
    $(function() {
        $('#datepicker').datepicker({
            minDate: 0
        });
    });
</script>
{% endblock %}
