{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}User Setting{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
                <div class="card">
                    <div class="card-header" data-background-color="teal">
                        <h4 class="title">Mail Notification Setting</h4>
                    </div>
                    <div class="card-content">
                        <br class="table-responsive table-upgrade">
                            {% trans "We let you know when execution finished. If you do not want to receive such notification please do changes here:" %}</br>
                        <h4 style="color:red">Current Setting: {{ status }}</h4>
                        <form method="post" action="{% url 'dashboard:notification_change' %}">
                            {% csrf_token %}
                            <input type="radio" name="email_notification" value="1" > yes &nbsp;&nbsp;
                            <input type="radio" name="email_notification" value="0"> no<br/>

                                </br>
                            <button type="submit" class="btn btn-primary btn-fill btn-info">{% trans "Save" %}</button>

                            <div style="color:red">{{ notification_status }}</div>
                            </form>
                        </div>

                </div>
            </div>
        </div>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header" data-background-color="teal">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-upgrade">
                            <form method="post" action="{% url 'dashboard:update_profile' %}">
                                {% csrf_token %}
                                    {{ form.user.as_hidden }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                {{ form.company }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                {{ form.company_kana }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                {{ form.department }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                {{ form.position }}
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                {{ form.phone_number }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                {{ form.address }}
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-fill btn-info">{% trans "Update Profile" %}</button>
                                    <div class="clearfix"></div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
