{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}支払方法変更{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div style="height: 87vh;">
	<div id="setting_menu">
    {% include 'common/account_setting.html' with selected_tab=3 %}
	</div>
    <div id="menu_bottom_line"></div>
	<div class="row setting_main">
		<div class="payment_change_box">
			<h3 style="text-align: center;">銀行振込からクレジットカード支払へ変更</h3>
        	<div class="row">
            	<div class="col-md-4">
            		<div class="form-group"><p>クレジットカード情報の入力</p></div>
            	</div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
            	<div class="col-md-4">
                	<div class="form-group"><p><span>クレジットカード番号</span></p></div>
                </div>
                <div class="col-md-6">
                	<div class="form-group"><input type="text"></div>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-4">
            		<div class="form-group"><p>セキュリティコード<br /><span class="small">クレジットカード裏面の3桁の数字です。</span></p></div>
              	</div>
              	<div class="col-md-6">
            		<div class="form-group"><input type="text">
   		        	   	<p class="small pass-info">弊社ではクレジットカード決済にサービス<a href="http://hanamura.pigdata/signup/#" target="_blank">PAYJP</a>を利用しており、お客様のクレジット番号、セキュリティコードの情報は一切保有しません。</p>
                    </div>
             	</div>
            </div>
		</div>
		<div class="align_center"><a href="payment_change_finish.html"><button type="button" class="btn mypage">変更</button></a></div>
	</div>

</div>
{% endblock %}
