{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}プラン変更{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    // プランをFreeからBusinessに変更する場合で作成（サーバーのデータから、現状のプランを持ってくる）
    var currentPlan = "business";
//    var currentPlan = "free";
    if (currentPlan == "business") {
      $("#current_plan_name").text('Businessプラン');
    } else {
      $("#current_plan_name").text('Freeプラン');
    }
  </script>
{% endblock %}

{% block content %}
<div>
    <div class="title">
    <h2>プラン変更</h2>
  </div>
  <div class="plan_wrapper">
      <h3 class="align_center">現在のプラン：{{ plan.plan_type }}タイプ</h3>
      <div class="row">
                <form method="post" id="submit_form" action="{% url 'dashboard:plan_change_confirm' %}">
                    {% csrf_token %}
                        <div class="col-md-4" style="padding-left:200px;">
                            <div class="form-group" style="font-size: 20px; padding-left: 100px;">プラン<sup>*</sup></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group choice_group mouse_over" id="free_plan">
                                <div class="choice_group_cell radio_width">
                                    <label for="id_plan_type_0">
                                        <input type="radio" name="plan_type" value="1" class="choice choice_margin" id="id_plan_type_0" checked><span class="choice_plan">Freeプラン</span>
                                    </label>
                                </div>
                                <div class="choice_group_cell">
                                <ul>
                                  <li>プロジェクト数５つまで</li>
                                  <li>ストレージ容量200MBまで</li>
                                  <li>１月あたりのダウンロード回数５回まで</li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                        <div class="col-md-6">
                            <div class="form-group choice_group mouse_over" id="business_plan">
                              <div class="choice_group_cell radio_width">
                                <label for="id_plan_type_1">
                                    <input type="radio" name="plan_type" value="2" class="choice choice_margin" id="id_plan_type_1" disabled="disabled"><span class="choice_plan">Businessプラン</span>
                                </label>
                              </div>
                              <div class="choice_group_cell">
                                <ul>
                                  <li>プロジェクト数５つまで</li>
                                  <li>ストレージ容量200MBまで</li>
                                  <li>１月あたりのダウンロード回数５回まで</li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div id="business_payment_outer">
                    <div class="row">
                        <div class="col-md-4" style="padding-left:200px;">
                            <div class="form-group" style="font-size: 20px; padding-left: 100px;">お支払い方法</div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group choice_group mouse_over" id="pay_method_card">
                              <div class="choice_group_cell radio_width">
                                <label for="id_pay_method_0">
                                <input type="radio" name="pay_method" value="1" class="choice choice_margin" id="id_pay_method_0">
                                </label>
                              </div>
                              <div class="choice_group_cell">
                                <p style="font-size: 18px;">クレジットカード払い</p>
                                <ul>
                                  <li>利用前月20日に支払確定</li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                        <div class="col-md-6">
                            <div class="form-group choice_group mouse_over" id="pay_method_invoice">
                              <div class="choice_group_cell radio_width">
                                <label for="id_pay_method_1">
                                <input type="radio" name="pay_method" value="2" class="choice choice_margin" id="id_pay_method_1">
                                </label>
                              </div>
                              <div class="choice_group_cell">
                                <p style="font-size: 18px;">銀行振込(請求書払い)</p>
                                <ul>
                                  <li>利用月の翌月末日に銀行振込</li>
                                  <li>法人限定</li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment_card_info">
                      <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p>クレジット情報の入力<sup>*</sup></p></div>
                          </div>
                          <div class="col-md-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p class="indent_1em"><span>クレジットカード番号</span></p></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><input type="text"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p class="indent_1em">セキュリティコード<br /><span class="small">クレジットカード裏面の3桁の数字です。</span></p></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><input type="text">
                                <p class="small pass-info">弊社ではクレジットカード決済にサービス<a href="http://hanamura.pigdata/signup/#" target="_blank">PAYJP</a>を利用しており、お客様のクレジット番号、セキュリティコードの情報は一切保有しておりません。</p>

                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="payment_invoice_info">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"<p>請求書必要情報<sup>*</sup></p></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p class="indent_1em"><span>会社名</span></p></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><input type="text"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p class="indent_1em"><span>郵便番号</span></p></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><input type="text"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p class="indent_1em"><span>電話番号</span></p></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><input type="text"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group align_right"><p class="indent_1em"><span>送付先住所</span></p></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><input type="text"></div>
                          </div>
                        </div>
                    </div>
                    </div>
                </form>
          <div class="pay_change_btn"><a href="plan_change_confirm.html"><button type="submit" class="btn mypage">プラン変更の確認</button></a></div>
  </div>
</div>
{% endblock %}
