{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}PigDataダウンロード{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div>
    <div class="title">
        <h2>PigDataのダウンロード</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">
            <p><img src="{% static 'assets/images/progress-on-05.png' %}" alt="本登録完了"></p>
        </div>
        <div class="content align_center">
        <hr />
            <p>下のリンクをクリックしてPigDataをダウンロードしてください。<br />ダウンロードの手順がわからない場合は<a href="https://services.sms-datatech.co.jp/pig-data/faq/">こちら</a>をご覧ください。</p>
            <p style="margin-top: 30px;"><b>対応環境</b>：Wndows10,Windows7(常に最新版へアップデートしてください)</p>
            <div class="download_button" style="margin-top: 100px;">
                <a href="{% url 'accounts:downloadtool' %}" download><button type="button" class="btn dl" style="background-color: yellow;">ダウンロード</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
