{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}登録情報変更完了{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    setTimeout(function(){
        window.location.href = "{% url 'dashboard:account_setting_basic' %}";
    }, 10*1000);
</script>
{% endblock %}

{% block content %}
<div style="height: 87vh;">
	<div id="setting_menu">
    {% include 'common/account_setting.html' with selected_tab=2 %}
	</div>
  <div id="menu_bottom_line"></div>
  <div class="row setting_main">
    <div class="change_finish">
      <h3 class="align_center" style="margin: 50px 0;">登録情報の変更が完了しました。</h3>
      <p>10秒後に<a href="{% url 'dashboard:account_setting_basic' %}">アカウント情報ページ</a>へ自動的に移行します。</p>
    </div>
  </div>
</div>
{% endblock %}
