{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Upgrade{% endblock %}

{% block content %}
<div class="main-panel">
<!-- PAYJP for Popup solution any way.  Because, dera is still considering this Screen transition.  -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-body">
                <form class="ui form" action="payment" method="post">
                    {% csrf_token %}
                    <h4 class="ui dividing header">Payment</h4>

                    <div class="field">
                        <label>Card Number</label>
                        <input type="text" name="number" maxlength="16" placeholder="Card #">
                    </div>

                    <div class="fields">
                        <div class="six wide field">
                            <label>CVC</label>
                            <input type="text" name="cvc" maxlength="4" placeholder="CVC">
                        </div>

                        <div class="ten wide field">
                            <label>Expiry date</label>
                            <div class="two fields">
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="exp_month">
                                        <option value="">choose/option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <input type="text" name="exp_year" maxlength="4" placeholder="年">
                                </div>
                                <div class="field">
                                    <input type="text" name="price" maxlength="7" placeholder="yen">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="ui button fill" tabindex="0">
                        Use sample card number
                    </button>
                    <button class="ui primary button submit">
                        Submit
                    </button>

                    <button class="ui button close">
                        ÁEclose
                    </button>
                    <p id="result"></p>
                </form>
            </div>
        </div>
    </div>
</div>

        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header text-center" data-background-color="teal">
                        <h4 class="title">{% trans "PIGDATA PLANS" %}</h4>
                        <p class="category">{% trans "Are you looking for more components?" %}</p>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                <th></th>
                                <th class="text-center">{% trans "Free" %}</th>
                                <th class="text-center">{% trans "Monthly" %}</th>
                                <th class="text-center">{% trans "Quaterly" %}</th>
                                <th class="text-center">{% trans "Yearly" %}</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{% trans "Number of Projects" %}</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center">50</td>
                                    <td class="text-center">100</td>
                                    <td class="text-center">{% trans "Unlimited" %}</td>
                                </tr>
                                <tr>
                                    <td>{% trans "Data Download for" %}</td>
                                    <td class="text-center">{% trans "2 days" %}</td>
                                    <td class="text-center">{% trans "30 days" %}</td>
                                    <td class="text-center">{% trans "120 days" %}</td>
                                    <td class="text-center">{% trans "365 days" %}</td>
                                </tr>
                                <tr>
                                    <td>{% trans "Example Pages" %}</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">27</td>
                                    <td class="text-center">27</td>
                                    <td class="text-center">27</td>

                                </tr>
                                <tr>
                                    <td>{% trans "Mini Sidebar" %}</td>
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>{% trans "Premium Support" %}</td>
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center">{% trans "Free" %}</td>
                                    <td class="text-center">{% trans "Just $100" %}</td>
                                    <td class="text-center">{% trans "Just $380" %}</td>
                                    <td class="text-center">{% trans "Just $1100" %}</td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-primary btn-fill btn-info disabled">{% trans "Current Version" %}</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#"  class="btn btn-primary btn-fill btn-info">{% trans "Best" %}</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-primary btn-fill btn-info">{% trans "Popular" %}</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-primary btn-fill btn-info">{% trans "Advantage" %}</a>
                                    </td>
                                </tr>
                                <!--tr>
                                    <td>
                                        <div id="paypal-button"></div>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr-->

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://js.pay.jp/"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>
<script type="text/javascript">
    (function() {

        var number = document.querySelector('input[name="number"]'),
            cvc = document.querySelector('input[name="cvc"]'),
            exp_month = document.querySelector('select[name="exp_month"]'),
            exp_year = document.querySelector('input[name="exp_year"]')
        ;

        document.querySelector('.fill').addEventListener('click', function(e) {
            e.preventDefault();
            number.value = '4242424242424242';
            cvc.value = '123';
            exp_month.value = '12';
            exp_year.value = '2020';
        });

        document.querySelector('.submit').addEventListener('click', function(e) {
            e.preventDefault();
            Payjp.setPublicKey('pk_test_0f8708342d1a0e3444ead35f');

            var card = {
                number: number.value,
                cvc: cvc.value,
                exp_month: exp_month.value,
                exp_year: exp_year.value
            }

            Payjp.createToken(card, function(s, response) {
                document.getElementById('result').innerText = 'Token = ' + response.id;

                var taragetUrl= 'payment';
                var price = 12345;

                $("<input>", {
                    type: 'hidden',
                    id:   'payjpToken',
                    name: 'payjpToken',
                    value: response.id
                }).appendTo('.form');

                $('.form').submit();

/*                $.ajax({
                    url: taragetUrl,
                    type:'POST',
                    dataType: 'json',
                    data : {token_info: response.id, price: price },
                    timeout:10000,
                }).done(function(data) {
                    alert("ok");
                }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("error");
                });
               */

            });
        });
    })();

$(document).ready(function() {
    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];

    $('.btn').on('click', function(){
        $('#myModal').modal('show');
    });

    $(".close").click(function() {
        $('#myModal').modal('hide');
    });
});
</script>
{% endblock %}
