{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Sign up{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="main-panel" style="height: 90vh;">
    <div class="title">
        <h2>{% trans "Create Your Account" %}</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">
            <p>
                <img src="{% static 'assets/images/progress-off01.png' %}" alt="基本情報入力">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-on-02.png' %}" alt="仮登録完了">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off03.png' %}" alt="本登録完了">
            </p>
        </div>
        <div class="content" style="padding: 30px 360px;">
            <hr />
            <h3 class="align_center" style="margin: 50px 0;">{% trans "Temporary registration is completed." %}</h3>
            <p class="align_left">
                {% trans "The URL link for the main registration has been sent to the registered e-mail address." %}<br />
                {% trans "You can download PigData by clicking on it and completing book registration." %}<br />
                {% trans "If you do not receive the email," %}<a href="mailto:support@sms-datatech.zendesk.com">{% trans "click here" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
