{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}本登録完了{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="main-panel" style="height: 95vh;">
    <div class="title">
        <h2>新規アカウント作成</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">
            <p>
                <img src="{% static 'assets/images/progress-off01.png' %}" alt="基本情報入力">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off02.png' %}" alt="仮登録完了">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-on-03.png' %}" alt="本登録完了">
            </p>
        </div>
        <div class="content">
            <hr />
            <div class="align_center">
                <h3 style="margin: 50px 0;">本登録が完了しました。</h3>
                <a href="{% url 'dashboard:product_download' %}"><button type="button" class="btn confirm">ダウンロード</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
