{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}
{% block content%}

<div class="content" style="height: 80vh;">
	<div class="inner">
		<h1>PIGDATA</h1>
		<p>{% trans "PigData is a scraping tool used for scraping unstructured data" %} </br>{% trans "from different websites to store into structured format for easy to examine." %}</p>
    <img src="{% static 'assets/images/pig.png' %}">
  </div>
</div>

{% endblock%}
