{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}
{% block content%}
<div class="navbar">
	<a href="{% url 'accounts:home' %}" >Home</a>
	<a href="{% url 'accounts:product' %}">{% trans "Products" %}</a>
	<a href="{% url 'accounts:learn'%}" class="active">{% trans "Learn" %}</a>
	<a href="{% url 'accounts:pricing' %}">{% trans "Pricing" %}</a>
	<a href="{% url 'accounts:about' %}">{% trans "About Us" %}</a>
	<a href="{% url 'accounts:contact' %}">{% trans "Contacts" %}</a>
	<a href="{% url 'accounts:login' %}" >{% trans "Login" %}</a>

	<!--div class="dropdown">
		<button class="dropbtn">en
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<form>
			<a href="#">ja</a>
			</form>
		</div>
	</div-->
</div>	<h2 class="major">{% trans "Learn" %}</h2>
			Steps:
			1. Download the PigData tool from given link.
			<h4> <a href="{% url 'accounts:downloadtool' %}" download>{% trans "Download PigData" %}</a></h4>
			2. Start the .exe </b>

			3. Login with your credentials, If you do not have created your account please signup here
			<h4> <a href="{% url 'accounts:signup'  %}">{% trans "Signup" %}</a></h4>

			4. Create New Project, by selecting from menu bar. <br>

			5. Press scrap button to scrap data from any webpage. </br>

			6. Preview data and then finish the project.</br>

			7. Download data from dashboard and schedule the project.
			<p>

			</p>
			<p>We always pleased to support you. Grow your business with us. <a href="#contact">Contacts</a></p>

{% endblock%}
