{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE HTML>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon-wp.ico'%}" />
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/product_header.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style_sp.css' %}" rel="stylesheet" />
    {% block css  %}{% endblock %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    {% block js  %}{% endblock %}
    <script>
    function postLanguageChanger(code){
        var form = document.getElementById('language-changer');
        form.language.value = code;
        form.submit();
    }


    //for sp
    $(function(){
        fade('.toggleWrap');
    });
    function fade(elm){
        var $fade = $(elm),
            $body = $('body');
        $fade.addClass('hide');
        $('#toggle').on('click', function(){
            $fade.toggleClass('hide').addClass('animation');
            $('.trigger').toggleClass('active');
            if ($fade.hasClass('hide')) {
                $body.removeClass('no-scroll').off('.noScroll');
            } else {
                $body.addClass('no-scroll').on('touchmove.noScroll', function(e){
                    e.preventDefault();
                });
            }
        });
    }
    </script>

</head>
<body>
<div id="contents_wrapper">
<!-- Header -->
<form id="language-changer" action="{% url 'set_language' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <input name="language" type="hidden" value="" />
</form>
<div class="navbar">
	  <h1><a href="https://services.sms-datatech.co.jp/pig-data/">Home</a></h1>
	  <ul>
	    <li><a href="https://services.sms-datatech.co.jp/pig-data/product/">Product</a></li>
	    <li><a href="https://services.sms-datatech.co.jp/pig-data/usecase/">Usecase</a></li>
	    <li><a href="https://services.sms-datatech.co.jp/pig-data/pricing_dev/">Pricing</a></li>
	    <li><a href="https://services.sms-datatech.co.jp/pig-data/blog/">Blog</a></li>
	    <li><a href="https://services.sms-datatech.co.jp/pig-data/helpcenter/">HelpCenter</a></li>
	    <li><a href="https://services.sms-datatech.co.jp/pig-data/about-us/" class="active">About Us</a></li>
      <!--
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% if LANGUAGE_CODE == "en" %}English{% else %}日本語{% endif %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for language in languages %}
                    <li>
                        {% if language.code == LANGUAGE_CODE %}
                            <a>{{ language.name_local }}</a>
                        {% else %}
                            <a href="#" onclick="postLanguageChanger('{{ language.code }}'); return false;">{{ language.name_local }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
        -->
      <li class="login_list"><a href="{% url 'accounts:login' %}" class="active login_btn">ログイン</a></li>
	  </ul>

    <!-- SP -->
    <!--hamburger button -->
    <div id="toggle" class="sp_only">
        <div class="trigger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Full Screeen Part -->
    <div class="toggleWrap sp_only">
        <ul class="mainNav">
            <li><a class="navItem" href="/pig-data/product/">Product</a></li>
            <li><a class="navItem" href="/pig-data/usecase/">Usecase</a></li>
            <li><a class="navItem" href="/pig-data/pricing/">Pricing</a></li>
            <li><a class="navItem" href="/pig-data/blog/">Blog</a></li>
            <li><a class="navItem" href="/pig-data/helpcenter/">HelpCenter</a></li>
            <li><a class="navItem" href="/pig-data/about-us/">About Us</a></li>
            <li><a class="navItem" href="/login">Login</a></li>
        </ul>
    </div>
</div>

<!-- Main Part -->
{% block content %}{% endblock %}

<!-- Footer -->
<footer class="footer footer_gray">
    <div class="container-fluid">
        <nav>
            <p class="policy_link">
            	<a href="https://services.sms-datatech.co.jp/pig-data/privacy-policy/"><u>Privacy Policy</u></a>｜
            	<a href="https://services.sms-datatech.co.jp/pig-data/security-policy/"><u>Security Policy</u></a>｜
            	<a href="https://www.sms-datatech.co.jp/"><u>運営会社HP</u></a>
            </p>
        </nav>
        <p class="copyright">
            ©
            <script>
            document.write(new Date().getFullYear())
            </script>
            SMS DataTech all right reserved.
        </p>
    </div>
</footer>
</div>

</body>
</html>
