{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content%}

    {% if request.session.isClientTool != 1 %}
    <div class="main-panel">
    {% else %}
    <div>
    {% endif %}

        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--div class="navbar-brand" href="">Welcome {{ user.username}} </div-->
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <li>
                           {% if request.session.isClientTool != 1 %}
                            <span class="material-input"><a href="{% url 'accounts:logout' %}" class="dropdown-toggle">{% trans "Logout" %} </a></span>
                           {% endif %}
                       </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="content">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}" style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                {{ form }}
            </br></br>
                <button type="submit" class="btn btn-primary btn-fill btn-info">{% trans "Save password" %}</button>
            </form>
        </div>
        </div>
    </div>
{% endblock %}
