{% extends "product_site_base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="main-panel" style="height: 90vh;">
    <div class="title">
        <h2>パスワードリセット</h2>
    </div>
    <div class="background_wrapper">
        <div class="content">
            <div class="breadcrumbs">
            <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
            &rsaquo; {% trans 'Password reset' %}
            </div>
            <hr />
            <h3 class="align_center" style="margin: 50px 0;">パスワードリセット</h3>
            <p class="align_center">
                {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
            </p>
            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.errors }}
                        <label for="id_email">{% trans 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                    <input type="submit" value="{% trans 'Reset my password' %}" style="margin: 30px;">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
