{% load static %}
{% load i18n %}
{% language 'en' %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>PigData: {% trans "Sign Up" %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrapper">

    <header id="header">
        <nav>
            <ul>
                <li><a href="{% url 'accounts:login' %}">{% trans "Home" %}</a></li>
            </ul>
        </nav>
    </header>
    </br></br>
    {% block content%} {% endblock%}
</div>

<!-- Footer -->
<footer id="footer">
    <p class="copyright"><a href="https:sms-datatech.co.jp">&copy; SMS DataTech Co. </a></p>
</footer>

</div>
<!-- BG -->
<div id="bg"></div>
<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/skel.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
{% endlanguage %}