{% load static %}
{% load i18n %}
{% language 'en' %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Welcome-PigData</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo"><a href="http://www.sms-datatech.co.jp" class="simple-text">PigData</a></div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="{% url 'dashboard:index' %}">
                            <i class="material-icons">dashboard</i>
                            <p>{% trans "Dashboard" %}</p>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'dashboard:project_data' %}">
                            <i class="material-icons">content_paste</i>
                            <p>{% trans "Project Data" %}</p>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="{% url 'dashboard:project_schedule' %}">
                            <i class="material-icons">library_books</i>
                            <p>{% trans "Project Schedule" %}e</p>
                        </a>
                    </li>
                    -->
                    <li class="active">
                        <a href="{% url 'dashboard:setting' %}">
                            <i class="material-icons">bubble_chart</i>
                            <p>{% trans "Setting" %}</p>
                        </a>
                    </li>
                    <li> </li>
                    <li>
                        <a href="{% url 'dashboard:upgrade' %}">
                            <i class="material-icons">unarchive</i>
                            <p>{% trans "Upgrade" %}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> {% trans "Profile" %} </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">{% trans "Dashboard" %}</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">{% trans "Notifications" %}</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">{% trans "Mike John responded to your email" %}</a>
                                    </li>
                                    <li>
                                        <a href="#">{% trans "You have 5 new tasks" %}</a>
                                    </li>
                                    <li>
                                        <a href="#">{% trans "You're now friend with Andrew" %}</a>
                                    </li>
                                    <li>
                                        <a href="#">{% trans "Another Notification" %}</a>
                                    </li>
                                    <li>
                                        <a href="#">{% trans "Another One" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">{% trans "person" %}</i>
                                    <p class="hidden-lg hidden-md">{% trans "Profile" %}</p>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">{% trans "search" %}</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">{% trans "Edit Profile" %}</h4>
                                    <p class="category">{% trans "Complete your profile" %}</p>
                                </div>
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Company (disabled)" %}</label>
                                                    <input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Username" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Email address" %}</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Fist Name" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Last Name" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Address" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "City" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Country" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{% trans "Postal Code" %}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>{% trans "About Me" %}</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> {% trans "Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo." %}</label>
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">{% trans "Update Profile" %}</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="../assets/img/faces/marc.jpg" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-gray">{% trans "CEO / Co-Founder" %}</h6>
                                    <h4 class="card-title">{% trans "Alec Thompson" %}</h4>
                                    <p class="card-content">
                                        {% trans "Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is..." %}
                                    </p>
                                    <a href="#pablo" class="btn btn-primary btn-round">{% trans "Follow" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a href="{% url 'dashboard:change_password' %}">{% trans "change password" %}</a> </div>
           <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    {% trans "Home" %}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    {% trans "Company" %}
                                </a>
                            </li>
                            <li>
                                <a href="#"> {% trans "Contacts" %}</a>
                            </li>
                            <li>
                                <a href="#">
                                    {% trans "Blog" %}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.sms-datatech.co.jp"> SMS DATA TECH CO.</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/material.min.js' %}" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="{% static 'assets/js/chartist.min.js' %}"></script>
<!--  Dynamic Elements plugin -->
<script src="{% static 'assets/js/arrive.min.js' %}"></script>
<!--  PerfectScrollbar Library -->
<script src="{% static 'assets/js/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static 'assets/js/material-dashboard.js' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/js/demo.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>
</html>
{% endlanguage %}