.modal-setting-content, .modal-download-content, .modal-history-content, .modal-category-content, .modal-project-content {
    position: absolute;
    width: 45% ;
   	margin: 0 ;
    border-radius: 10px ;
   	position: fixed ;
    right: -1000px ;
   	opacity: 0 ;
   	z-index: 10000;
}

.modal-title {
    padding: 10px 40px;
   	background: #37aab7;
    color: #fff;
    font-size: 18px;
    border-radius: 7px 7px 0 0;
    border: 2px solid #aaa;
    border-bottom: solid 0px #aaa;
}

.modal-popup-content {
    padding: 20px 50px 60px 40px;
    background: #dcf5f5;
    border: 2px solid #aaa;
    border-radius: 0 0 7px 7px;
}

.modal-subtitle {
   	padding: 10px 0 5px ;
}

.modal-subtitle > .form-group {
    width: 150px;
}

.modal-subtitle > .form-group > input{
   	padding: 10px;
}

.modal-button {
   	margin: 0 0 0 20px ;
}

#modal-overlay {
    z-index: 1 ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 120% ;
    background-color: rgba( 0,0,0, 0.75 ) ;
}

.button-link {
    color: #00f ;
	  text-decoration: underline ;
}

.button-link:hover {
    cursor: pointer ;
	  color: #f00 ;
}
.modal-category {
    z-index: 100;
}

.modal-dropdown span {
    background: transparent;
}

.modal-dropdown span i {
    font-size: 20px;
}

.modal-setting:hover, .modal-download:hover, .modal-history:hover, .modal-category:hover, .modal-project:hover, .trash:hover, .modal-dropdown:hover {
    cursor: pointer ;
	  color: #f00 ;
}

.modal-open + span {
    display: none;
}

.modal-open:hover, .modal-open + span:hover {
    cursor: pointer ;
	  color: #f00 ;
}

#modal-close {
    position:absolute;
    top:8px;
    right:15px;
    color:#000;
    font-size:35px;
    line-height:1;
    font-weight:bold;
    text-decoration:none;
}

#modal-close:hover {
    color: orange;
}

.display-none {
    display: none;
}

.modal-calendar {
    display: inline-block;
    width: 272px;
    vertical-align: top;
    margin-right: 10px;
}

.month, .day, .day-name{
    font-size: 12px;
}

/* Calendar of download popup */
.datepicker {
    opacity: 1;
}

.ui-datepicker .ui-datepicker-header {
    background: #82d5de;
}

.ui-datepicker-calendar {
    background: #f4feff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #c5c5c5!important;
    background: #f6f6f6!important;
    color: #000!important;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #003eff!important;
    background: #007fff!important;
    font-weight: normal!important;
    color: #ffffff!important;
}
