@media (max-width: 768px) {
body {
    line-height: 1.6em;
}
.sp_only {
    display:  block!important;
}
.pc_only {
    display:  none!important;
}

a:hover {
    opacity:  1;
}
h2 {
    font-size: 22px;
}

.cent {
    text-align:  left;
}
new
h2 br {
    display:  none;
}

.content {
    padding: 0 20px 40px;
    width: 95%;
}

p.btn {
    width:  80%;
    margin-top:  30px;
}
p.btn a {
    font-size:  18px;
    width:  100%;
}
#title h1 {
    font-size: 34px;
    line-height:  1em;
    width: 100%;
    text-align: left;
}

#title {
    height: auto;
    padding: 20px;
}
#title h1.no_lead {
    margin-top:  0px;
}
div.title:after {
    margin-right: 0px;
    right: 0;
    width: 40%;
    height: 70%;
    background-position: unset;
}
body p.lead {
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 1.5em;
    width: 100%;
    margin-top: 10px!important;
}

#main_visual {
    background-image: url(../img/main-visual_sp.png);
    background-size: 100% auto;
    height:  0;
    padding-top: 153.4%;
    background-repeat:  no-repeat;
}
div#main_visual>div {
    background: none;
}

#main_visual h1 {
    font-size: 8.2vw;
    line-height: 10vw;
    top: 2%;
}

#main_visual h1 span {
    font-size: 10.5vw;
    background-size: contain;
    padding-top: 2%;
    padding-bottom: 2.8%;
    padding-left: 6%;
    padding-right: 7%;
}

#main_visual p {
    font-size: 4.2vw;
    line-height: 6.6vw;
    top: 42vw;
}

#main_visual p.btn {
    width:  70%;
    right:  50%;
    margin-right:  -35%;
    bottom:  2%;
}

#about .content div {
    padding: 40px 10px 10px;
    margin:  68px 0 40px;
}

#about ol li {
    width:  100%;
    padding-bottom: 39%;
    margin-bottom:  20px;
    background-size: auto 53%;
    background-position: center bottom 0%;
    height:  auto;
    padding-top:  0;
}

#about ol li p {
    background-size: auto 54px;
    background-position:  5vw 0vw;
    min-height:  0;
}

#about h3 {
    width: 300px;
    margin-left: -150px;
    background-size:  contain;
    font-size: 18px;
    padding-left: 50px;
    padding-bottom: 2%;
    top: -50px;
    height: 61px;
}
#about ol li:nth-child(3) {
    background-size: auto 40%;
    background-position: center bottom 19%;
}

#about ol li:nth-child(4) {
    background-size: auto 45%;
    background-position: center bottom 6%;
}

#whats .block_list>div {
    width:  100%;
    height:  auto;
    margin-right:  0;
    margin-bottom: 26px;
}

#whats .block_list>div>div {
    padding-top:  52%;
    background-size:  contain;
}

#whats .block_list h3 {
    margin-bottom:  10px;
    min-height: 0;
}
#whats .block_list>div>p {
    margin-top: 10px;
    line-height:  1.7em;
}

#whats .block_list>div:last-child {
    margin-bottom:  0;
}
.product p {
    padding-right:  0;
    padding-top: 57%;
    background-position:  center top;
    background-size:  contain;
    padding-left: 0!important;
    min-height:  0;
}
.product .wrap {
    padding-left:  0;
    padding-top: 51%;
    background-position: top center;
    background-size:  90% auto;
}

.product .wrap h2 {
    font-size: 28px;
    line-height:  1.4em;
}
#UseCases ol li {
    width:  100%;
    margin-right:  0;
    margin-bottom:  30px;
    height: auto!important;
}

#UseCases p.number {
    top: -1.8em;
    left: -0.4em;
}
#UseCases ol {
    margin-top:  40px;
}

#UseCases ol li:last-child {
    margin-bottom:  0;
}
#features .block_list>div {
    margin-top: 0;
    width:  100%;
    height:  auto;
    margin-right:  0;
}
#features .block_list>div>div {
    background-size: contain;
    padding-top:  33%;
}
#features .block_list>div>div:nth-child(2) {
    background-size:  50%;
}

#features .block_list>div:nth-child(2)>div {
    background-size:  41%;
}

#features .block_list>div:nth-child(4)>div{
    background-size:  67%;
}
#news tr {
    padding-left:  0;
    padding-right:  0;
}

#news th {
    font-size:  14px;
    vertical-align:  top;
}
section#news.new .content {
    display: block;
}

section#news.new .top_news, section#news.new .top_blog {
    width: 100%;
}

section#news.new .top_blog {
    margin-top: 50px;
}
#news.new tr {
    padding-left: 0;
    padding-right: 0;
}

#news.new .content>a {
    margin-top: 20px;
}

section#news.new .top_news {
    margin-bottom: 20px;
}
#news table.news_list th.date {
    display: block;
}

section#news p.tag {
    padding-left: 0;
    line-height: 1.4em;
}

#news p.tag>span {
    display: inline-block;
}
#try div.content>div {
    padding-top: 76%;
    background-size:  contain;

}

#try p.btn {
    width:  80%;
    height:  56px;
}
#try p.btn {font-size:  18px;
    height:  56px;
}

div.navbar > ul > li:not(.login_list) {
    display:  none;
}


/*****************
Menu
****************/

#toggle {
  display: block;
  color: #fff;
  text-align: center;
  width: 55px;
  height: 47px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 101;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}
.trigger,
.trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.trigger {
  position: relative;
  width: 24px;
  height: 19px;
  top: 14px;
}
.trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  border-radius: 4px;
}
.trigger span:nth-of-type(1) {
  top: 0;
}
.trigger span:nth-of-type(2) {
  top: 8px;
}
.trigger span:nth-of-type(2)::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.trigger span:nth-of-type(3) {
  bottom: 0;
}
.trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(8px) scale(0);
          transform: translateY(8px) scale(0);
}
.trigger.active span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.trigger.active span:nth-of-type(2)::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-8px) scale(0);
          transform: translateY(-8px) scale(0);
}

.toggleWrap {
  background: rgba(0, 0, 0, 0.95);
  padding: 50px 0px 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:  100;
}
.toggleWrap::before {
    position: absolute;
    left: 10px;
    top: 0;
    content:  "";
    display:  block;
    width:  120px;
    height:  47px;
    background-image: url(../images/Logo_blackback.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mainNav li {
  list-style-type: none;
  display:  block;
  width:  100%;
  height:  auto;
  margin-left:  0;
}
.navItem {
  display: block;
  text-decoration: none;
  color: #fff !important;
  padding: 12px 0;
  text-align: center;
  font-size: 20px;
}

.hide {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.animation {
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
.no-scroll {
  overflow: hidden;
}
div.navbar  ul.mainNav {
    display:block;
    width:  100%;
    padding: 0;
    height:  auto;
    top: 50%;
    position:  absolute;
    margin-top: -234px;
}

/*****************
AboutUs
****************/

.content {
    min-width: 0;
}

#AboutUs .content>p {
    width:  100%;
    margin-right:  0;
}

#AboutUs .content>table {
    width:  100%;
    margin-top:  40px;
}

#AboutUs .content>table th {
    padding-left:  0;
    font-size:  14px;
    width: 110px;
    padding-right:  0;
}

#AboutUs .content>table td {
    font-size:  14px;
    padding-right:  0;
}

#AboutUs iframe {
    height:  320px;
    margin-left:  -20px;
    width:  100vw;
    margin-bottom:  -7px;
}

#AboutUs .content {
    padding-bottom:  0;
}
/*****************
pricing
****************/

#pricing ul li {
    width:  100%;
    margin-bottom:  30px;
    border-radius: 10px!important;
    border:  1px solid #eee;
}

#pricing ul li:nth-child(2) {
  width: 100%;
}

#pricing ul li:last-child {
  margin-left: 0;
}

.btn_dataorder {
  font-size: 25px;
  }
#pricing ul {
    border:  none;
    margin-top:  0;
}

#title::after {
    display: none;
}
/*****************
QandA
****************/

/*****************
HelpCenter
****************/

#HelpCenter a {
    width: 100%;
    margin: 10px 0!important;
}

#HelpCenter a p {
    margin-bottom:  8vw;
}

#HelpCenter a .image_box {
    background-size:  50%;
    padding-top: 55%;
}

/*****************
two_columns
****************/
section.two_columns>.content {width: 100%;max-width: none;box-sizing: border-box;padding-right: 20px;}

section.two_columns {
    display: block;
}

section.two_columns .post_side_navi {
    margin-top: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

section#blog.two_columns .post_side_widget {
    width: 100%;
    margin-top: 10px;
}

section#blog.two_columns .download_link {
    width: 74%;
    margin: 30px auto;
    padding: 4vw 17vw 5vw 1vw;
}

section#blog.two_columns .download_link a {
    background-size: 14vw;
    background-position: 3vw 5vw;
}

section#blog.two_columns .download_link p {
    font-size: 3.3vw;
}

section#blog.two_columns .download_link p span {
    font-size: 6vw;
}

section#blog.two_columns .download_link::after {
    right: 5vw;
    width: 8vw;
    background-size: 8vw;
}
section.two_columns * {
    max-width: 100%!important;
    word-wrap: break-word;
}
section#blog.two_columns .related-post {
    width: 100%;
    margin-top: 10px;
}

.two_columns .tag_list {
    margin-top: 10px;
}
.post_bottom_link .under_line_link {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px 10px;
}

.post_bottom_link {
    display: block;
}
.post_filter a {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post_filter {
    display: block;
}

/* add into wordpress's style.css */
div.background_wrapper {
    padding-top: 0px;
}
div.navbar > ul > li.login_list {
    margin-left: 0px;
    margin-right: 60px;
}
p.align_center {
    text-align: left;
}
.inner img {
    display: none;
}
div.title {
    height: 130px;
    padding-bottom: 47px;
}
div.title > h2 {
    font-size: 35px;
    text-align: center;
}
div.progress_icon img {
    width: 90px;
}
div.progress_icon img[src="/static/assets/images/progress-arrow.png"] {
    width: 30px;
    height: 50px;
}

/* login.html */
.main-panel {
    min-height: unset;
}
.background_wrapper {
    margin: 50px 0 !important;
}
div.FreePlan, div.BusinessPlan, div.bank, div.card {
    width: 95%;
    margin: 0 auto;
    padding: 50px 0 10px;
    background-color: rgba(131, 202, 202, 0.3);
    box-shadow: 0px 0px 8px rgba(131, 202, 202, 1);
    border-radius: 2px;
}
.profile-img-card{
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
form > .form-control{
    width: 80%;
    margin: 10px auto;
}
form > .btn{
    width: 70%;
    height: 36px;
    margin: 10px auto;
    padding: 0px;
    background-color: rgb(104, 145, 162);
    font-weight: 700;
    font-size: 14px;
}
.forgot-password{
    font-size: 13px;
}
.register{
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}
/* login.html end */
}
