{% load i18n static %}
{% autoescape off %}
<hr>
<h4>PigData　データオーダー御見積り依頼送信完了のおしらせ</h4>
<hr>
PigDataのデータオーダー御見積りのご依頼をいただきまして
<br/>
3営業日までに担当者から連絡を差し上げます。
<br/>
誠にありがとうございます。以下の内容でお受けいたしました。
<br/>
{% trans "URL" %}: {{ data_order_obj.url_list }}
<br/>
{% trans "Data Details" %}:
{{ data_order_obj.data_details }}
<br/>
{% trans "Due Date" %}: {{ data_order_obj.due_date }}
<br/>
{% trans "Purpose" %}: {{ data_order_obj.purpose }}
<br/>
{% trans "Budget" %}: {{ data_order_obj.budget }}{% trans "yen" %}
<br/>
{% trans "Company" %}: {{ data_order_obj.company }}
<br/>
{% trans "Department" %}: {{ data_order_obj.department }}
<br/>
{% trans "Contact Email" %}: {{ data_order_obj.email }}
<br/>
{% trans "Phone Number" %}: {{ data_order_obj.phone_number }}
<br/>
{% trans "Automatic Update" %}: {% if data_order_obj.regular_order == True %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}
<br/><br/>
【 ご 注 意 】
<br/>
このメールにお心当たりのない場合、大変お手数ですが、
<br/>
本メールの破棄をお願いいたします。
<br/>
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F
<hr>
{% endautoescape %}
