{% autoescape off %}
<hr>
<h4>PigData　仮登録のご案内</h4>
<hr>
PigDataのアカウント登録をいただきましてありがとうございます。
<br>
現在、仮登録の状態です。以下のURLにアクセスして本登録を行ってください。
<br>
本登録完了後、PigDataのマイページをご案内いたします。
<br>
{{ site_url }}{% url 'accounts:activate' uidb64=uid token=token %}
<br>
(クリックできない場合はブラウザーのアドレス欄にコピーしてください)
<br>
【 ご 注 意 】
<br>
※上記URLは、メールを受信してから24時間以内にクリックしてください。.　これを経過すると無効となりますので、再度会員登録を行ってください。
<br>
※このメールにお心当たりのない場合、大変お手数ですが、本メールの破棄を
　お願いいたします。
<br>
<hr>
発行元：株式会社SMSデータテック
<br>
&lt;support@sms-datatech.zendesk.com&gt;
<br>
〒104-0043　東京都中央区湊<br>3-5-10 VORT新富町3F
{% endautoescape %}