{% autoescape off %}
<hr>
<h4>PigData　支払い完了通知</h4>
<hr>
平素はPigDataサービスをご利用頂き、誠にありがとうございます。
<br/>
お客様によって登録されたクレジットカードより、
<br/>
PigDataサービスへの支払いが完了しました。
<br/>
下記内容にお間違いないかご確認ください。
<br/>
▼ご請求金額
会社名　　　: {{user_company}}
<br/>
登録名　　　: {{user_name}}
<br/>
ご請求金額　: {{payment_amount}}
<br/>
以下のURLより、内容をご確認ください。
<br/>
{{payment_info_link}}
<br/>
(クリックできない場合はブラウザーのアドレス欄にコピーしてください)
<br/>
ご不明な点がございましたら、お気軽にご連絡ください。
<br/>
今後とも宜しくお願い申し上げます。
<br/>
※データオーダーサービスへのご相談はこちらから
　support@sms-datatech.zendesk.com
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F 
{% endautoescape %}