{% autoescape off %}
<hr>
<h4>PigData payment plan changed</h4>
<hr>
{% trans "Your updated plan" %}: {% if plan_id == "1" %} {% trans "BUSINESS" %} {% else %} {% trans "FREE" %} {% endif %}
<br>
【 ご 注 意 】
<br>
※このメールにお心当たりのない場合、大変お手数ですが、
　support@sms-datatech.zendesk.com までご連絡をお願い申し上げます。
<br>
<hr>
発行元：株式会社SMSデータテック
<br>
&lt;support@sms-datatech.zendesk.com&gt;
<br>
〒104-0043　東京都中央区湊<br>3-5-10 VORT新富町3F
{% endautoescape %}