{% autoescape off %}
<hr>
PigData　アップデートのお知らせ
<hr>
平素よりPigDataをご利用いただきまして誠にありがとうございます。
<br/>
この度、PigDataの新バージョン {{ version }} が新たにリリースされました。
<br/>
仮登録の状態です。以下のURLにアクセスして本登録を行ってください。
<br/>
{{ download_link }}
<br/>
【 ご 注 意 】
<br/>
※上記URLは、メールを受信してから24時間以内にクリックしてください。
　これを経過すると無効となりますので、再度会員登録を行ってください。
<br/>
※このメールにお心当たりのない場合、大変お手数ですが、本メールの破棄を
　お願いいたします。
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F
{% endautoescape %}