{% autoescape off %}
<hr>
<h4>PigData　プロジェクト　アラートメール</h4>
<hr>
お客様の作成したプロジェクトが実行され、データの取得に成功しました。
<br/>
また、前回取得したデータと今回取得したデータの内容に差異があり、
<br/>
アラート設定したキーワードが取得したデータ内に存在するため、
<br/>
下記のURLより内容を確認してください。
<br/>
プロジェクト名　　　: {{ project.name }}
<br/>
カテゴリ名　　　　　: {{ project.category }}
<br/>
プロジェクト完了日時: {{ execution.completion_time }}
<br/>
取得データサイズ　　: {{ execution.data_size }}
<br/>
取得データ形式　　　: {{ execution.dwnd_type }}
<br/>
【 ご 注 意 】
<br/>
※このメールにお心当たりのない場合、大変お手数ですが、本メールの破棄を
 お願いいたします。
<br/>
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F
{% endautoescape %}
