{% autoescape off %}
<hr>
PigData　プロジェクト　実行完了通知
<hr>
お客様の作成したプロジェクトが実行され、データの取得に成功しました。
<br/>
下記のURLより内容を確認してください。
<br/>
プロジェクト名　　　: {{ project.name }}
<br/>
カテゴリ名　　　　　: {{ project.category }}
<br/>
Execution start time: {{ execution.start_time }} UTC
<br/>
プロジェクト完了日時: {{ execution.completion_time }} UTC
<br/>
Execution elapsed time: {{ execution.elapsed_time }} secs
<br/>
取得データサイズ　　: {{ execution.data_size }}
<br/>
取得データ形式　　　: {{ execution.dwnd_type }}
<br/>
(クリックできない場合はブラウザーのアドレス欄にコピーしてください)
<br/>
【 ご 注 意 】
<br/>
※このメールにお心当たりのない場合、大変お手数ですが、本メールの破棄を
　お願いいたします。
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F
{% endautoescape %}
