{% extends "global-dash-base.html" %}
{% load static %}
{% load i18n %}
{% block meta %}

{% endblock %}
{% block content%}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">-->
            <!--<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          <!--</div>-->

          <!-- Content Row -->
          <div class="row"  >

              <div class="col-lg-4">
                <div class="card-body"></div>
              </div>
              <div class="col-lg-4" align="center">
              </br></br></br>
                <img src="{% static 'global/img/title_pig.png' %}" width="200px"; height="200px";/>
                <h1 align="center">PIGDATA</h1>
              </br></br></br></br></br>

              </div>


            <div class="row">

            <div class="col-lg-4">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "BLOGS" %}</h6>
                </div>
                <div class="card-body">
                  <table class="table table-hover" id="project_table">
                                <thead>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Blog" %}</th>
                                </thead>
                                <tbody>
                                    {% for blog in blog_info %}
                                    <tr>
                                        <td>{{ blog.2 }}</td>
                                        <td><a href="{{ blog.1 }}">{{ blog.0|truncatechars:20 }}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">{% trans "PROJECT HISTORY" %}</h6>
                </div>
                <div class="card-body">
                  The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "USAGE STATUS OF THIS MONTH" %}</h6>
                </div>
                <div class="card-body">
                <div class="graph-content">
                          <div style="text-align: left; margin: 3px 0;">
                                  <span>{% trans "Amount of Data" %}</span>：{{ show_size }}{{ unit }}
                          </div>
                                  <div id="db_progress_bar"></div>
                          <div style="text-align: left; margin: 3px 0;">
                              <span>{% trans "Amount of Projects" %}</span>：{{ totalprojects }}
                              <div class="boxWrap">
                                  {% for i in box_num %}
                                      {% if i <= storage_ratio %}
                                          <div class="box"></div>
                                      {% else %}
                                          <div class="box" style="background: #fff;"></div>
                                      {% endif %}
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                </div>
              </div>
            </div>

           </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock%}
