{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block meta %}{% endblock %}
  <title>{% block title %}Dashboard{% endblock %}</title>
  <!-- Custom fonts for this template-->
  <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  {% block css  %}{% endblock %}

  <!-- Custom styles for this template-->
  <link href="{% static 'global/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
<style>
	/* Sticky footer styles-------------------------------------------------- */
	html {
	  position: relative;
	  min-height: 100%;
	}
	body {
	  /* Margin bottom by footer height */
	  margin-bottom: 60px;
	  background-color: #f8f9fc;
	}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #00AA9E;
	}

	.container .text-muted {
	  margin: 20px 0;
	}
	</style>
<body id="page-top">
<div id="load_bar" style="display:none;">
 </div>

  <!-- Page Wrapper -->
  <!--<div id="wrapper">-->

    <!-- Content Wrapper -->
    <!--<div id="content-wrapper" class="d-flex flex-column">-->

      <!-- Main Content -->

      <!--<main role="main" class="container">-->
        <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="padding-right: 0rem;">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'global_dashboard:index' %}">
                <img class="img-fluid mx-auto" src="{% static 'global/img/logo_new.png' %}" alt="" width="150px">
            </a>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav">
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="{% url 'global_dashboard:index' %}" role="button" >
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% trans "Dashboard" %}</span>
                    </a>
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="{% url 'global_dashboard:new_project' %}" role="button" >
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% trans "New Project" %}</span>
                    </a>
                  <!--<div class="text-center">-->
                    <!--<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalNewProject">New Project</a>-->
                  <!--</div>-->
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="{% url 'global_dashboard:all_projects' %}" >
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% trans "Download Data" %}</span>
                    </a>
                </li>
                <!--<div class="topbar-divider d-none d-sm-block"></div>-->

                <!--<li class="nav-item dropdown no-arrow">-->
                  <!--<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--<span class="mr-2 d-none d-lg-inline text-gray-600 small">Feedback</span>-->
                  <!--</a>-->
                <!--</li>-->
            </ul>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user }}</span>
                        <img class="img-profile rounded-circle" src="{% static 'global/img/pig_user.png' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <form id="language-changer" action="{% url 'set_language' %}" method="post" style="display: none;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="" />
                        </form>
                        {% for language in languages %}
                            {% if language.code != LANGUAGE_CODE %}
                                <a class="dropdown-item" href="#" onclick="postLanguageChanger('{{ language.code }}'); return false;"><i class="fas fa-bell fa-fw mr-2 text-gray-400" ></i>
                                    {{ language.name_local }}
                                </a>
                            {% endif %}
                        {% endfor %}
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            <ul>
        </nav>
        <!-- End of Topbar -->
  <!-- Begin Page Content -->
        <!--<div class="container-fluid">-->

      <!-- Main Part -->
      {% block content %}{% endblock %}
 <!-- End of Main Content -->
   <!--</div>-->
    <!-- End of Content Wrapper -->


      <!-- Footer -->
      <!--<footer class="sticky-footer bg-white">-->
        <!--<div class="container my-auto">-->
          <!--<div class="copyright text-center my-auto">-->
            <!--<span>Copyright &copy; PigData 2019</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</footer>-->
  </div>
  <footer class="footer">
      <div class="container">
          <p class="text-muted text-center text-gray-600">Copyright@PigData 2019</p>
      </div>
  </footer>
  <!--</main>-->
  <!-- End of Page Wrapper -->
    <!--</div>-->
  <!--</div>-->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

    <!--new project modal-->
<div class="modal fade" id="modalNewProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: modalQuickView -->
<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">

          <div class="col-lg-12">
            <h2 class="h2-responsive product-name">
              <strong>DATA ORDER</strong>
            </h2>
            <h4 class="h4-responsive">
              <span class="green-text">
                <strong>@PigData Team</strong>
              </span>
            </h4>

            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Card body -->
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne1">
                        What is Data Order?
                    </div>
                  <div class="card-body">
                    If data can not be acquired with PigData, you can order the data you would like to obtain from here (Corporate only). As soon as the acquisition setting is completed, you can download the ordered data from the PigData project.
                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <div class="card-header" role="tab" id="headingOne1">
                    Data Extract Required Information:
                </div>
                <!-- Card body -->
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                    squid. 3
                    wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                    squid. 3
                    wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                  <div class="row">
                <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  <select class="md-form mdb-select colorful-select dropdown-primary">
                    <option value="" disabled selected>How you have haerd about us?</option>
                    <option value="1">White</option>
                    <option value="2">Black</option>
                    <option value="3">Pink</option>
                  </select>

                </div>
                <div class="col-md-6">

                  <select class="md-form mdb-select colorful-select dropdown-primary">
                    <option value="" disabled selected>What is your business related to?</option>
                    <option value="1">XS</option>
                    <option value="2">S</option>
                    <option value="3">L</option>
                  </select>

                </div>
              </div>
              </div>
              <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->


            <!-- Add to Cart -->
            <div class="card-body">

              <div class="text-right">
                  </br></br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary">Submit
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'global/js/common.js' %}"></script>
  <script src="{% static 'global/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'global/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'global/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <!--<script src="{% static 'global/vendor/chart.js/Chart.min.js' %}"></script>-->

  <!-- Page level custom scripts -->
  <!--<script src="{% static 'global/js/demo/chart-area-demo.js' %}"></script>-->
  <!--<script src="{% static 'global/js/demo/chart-pie-demo.js' %}"></script>-->
 {% block js  %}{% endblock %}

<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
<!--(function(){-->
<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
<!--s1.async=true;-->
<!--s1.src='https://embed.tawk.to/5c81d5f4101df77a8be17fee/default';-->
<!--s1.charset='UTF-8';-->
<!--s1.setAttribute('crossorigin','*');-->
<!--s0.parentNode.insertBefore(s1,s0);-->
<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->
</body>

</html>
