{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html>
<head>
<style>
body { 
  /* background: lightblue url("img_tree.gif") no-repeat fixed center;  */
}
</style>
</head>
<body>


<img class="img-fluid mx-auto" src="{% static 'global/img/logo_new.png' %}" alt="" width="150px">
<p>PigData is a scraping tool used for extracting data
    from different websites and store into structured format for easy to examine.</p>

    <div class="embed-responsive embed-responsive-16by9">

        <img style="height:400px; width:600px;"" class="img-fluid mx-auto" src="{% static 'global/img/new-project.gif' %}" alt="" width="150px">
    </div>
</body>
</html>