{% extends "saas-base.html" %}
{% load static %}
{% load i18n %}
{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://rawgit.com/abdennour/bootstrap-waitingfor/master/build/bootstrap-waitingfor.js"></script>
<link href="{% static 'css/saas.css' %}" rel="stylesheet" />
<script src="{% static 'js/base_saas.js' %}"></script>
<style>
    #mydiv {
        position: absolute;
        width:60%;
        z-index: 9;
        background-color: #f1f1f1;
        text-align: center;
        border: 1px solid #d3d3d3;
    }
    #mydivheader {
        padding: 10px;
        cursor: move;
        z-index: 10;
    }
    .child {
        background: red;
    }

    #widnow{
        width:400px;
        border:solid 1px;
    }
    #title_bar{
        background: #FEFEFE;
        height: 25px;
        width: 100%;
    }
    #buttn{
        border:solid 1px;
        width: 25px;
        height: 23px;
        float:right;
        cursor:pointer;
    }
    #box{
        height: 250px;
        background: #DFDFDF;
    }
    </style>
{% endblock %}
{% block content%}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-3">
        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                <button class="btn" id="back_one_action"><i class="fa fa-arrow-circle-left"></i> {% trans "Back" %}</button>
            </div>
            <div class="card-body">
                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mh-100" style="height:100%;">-->
                <!-- side panel -->
                <!--<div class="row my-side-div" >-->
                <h2 class="text-center text-uppercase text-secondary mb-0">{% trans "Instructions" %}</h2>
                <!-- Divider -->
                <hr class="sidebar-divider my-0"> </br>
                <div id="start_div1" style="margin: 0 0 0 15px;">
                    {% trans "Please open a new tab and go to the data extration url then copy paste the url below here." %}
                </div>
                <!-- login0 -->
                <div class="loginStep">
                    {% trans "Choose ID box" %}<br>
                </div>
                <!-- login1 -->
                <div class="loginStep">
                    {% trans "Fill-in login id and Click next to Passowrd" %}<br>
                </div>
                <!-- login2 -->
                <div class="loginStep">
                    {% trans "Choose password box" %}<br>
                </div>
                <!-- login3 -->
                <div class="loginStep">
                    {% trans "Fill-in password and Click next to Button Click" %}<br>
                </div>
                <!-- login4 -->
                <div class="loginStep">
                    {% trans "Click the button to Login-in to Main page" %}<br>
                </div>
                <!-- login5 -->
                <div class="loginStep">
                    {% trans "Please select button to go to second password page!!" %}<br>
                </div>
                <!-- login6 -->
                <div class="loginStep">
                    {% trans "Please confirm password input box!!" %}<br>
                </div>
                <!-- Head0: Page0 -->
                <div class="headStep">
                    {% trans "Select one of them" %}</br>
                    {% trans "Data extraction" %}</br>
                    {% trans "Extraction after fill and click" %}
                </div>
                <!-- Head1: Page1 -->
                <div class="headStep">
                    {% trans "Fill and Click" %}<br>
                </div>
                <!-- Head2: Page2 -->
                <div class="headStep">
                    <br>
                </div>
                <!-- Head3: Page3 -->
                <div class="headStep">
                    {% trans "Please select a fill button to enter a value." %}<br>
                </div>
                <!-- Head4: Page4 -->
                <div class="headStep">
                    {% trans "Move Page" %}<br>
                    {% trans "Please click the page you want to move from the specified website." %}
                </div>
                <!-- Head5: Page5 -->
                <div class="headStep">
                    {% trans "Get text " %}<br>
                    {% trans "Please select the text data you want to retrieve on the specified web page. " %}<br>
                    {% trans "When selected, the selected part is displayed in red frame. " %}<br>
                    {% trans "To confirm, select Next" %}
                </div>
                <!-- Head6: Page6 -->
                <div class="headStep">
                    {% trans "Similar Choose" %}<br>
                    {% trans "Please choose Yes or No!!" %}
                </div>
                <!-- Head7: Page7 -->
                <div class="headStep">
                    {% trans "Setting same row data " %}<br>
                    {% trans "Please select one data in the same row as the data (green) set in the previous step. " %}<br>
                    {% trans "If you are satisfied with the data displayed in red dotted line, please select Next button. " %}<br>
                    {% trans "Please click the page you want to move from the specified website." %}
                </div>
                <!-- Head8: Page8 -->
                <div class="headStep">
                    {% trans "Colummn name" %}<br>
                    {% trans "Please name the column!!" %}<br>
                </div>
                <!-- Head9: Page9 -->
                <div class="headStep">
                    {% trans "Confirm Acquired Data " %}<br>
                    {% trans "To add a new column to this table, please select Set additional data button. " %}<br>
                    {% trans "If you do not need it any more, please select the Next button." %}
                </div>
                <!-- Head10: Page10 -->
                <div class="headStep">
                    {% trans "Pagination" %}<br>
                    {% trans "Please confirm pagination!!" %}<br>
                </div>
                <!-- Head11: Page11 -->
                <div class="headStep">
                    <h3>{% trans "Project Name" %}<br>
                        {% trans "Please Input project name!!" %}<br>
                    </h3>
                </div>
                <!-- Head12: Page12 -->
                <div class="headStep">
                    <h3>{% trans "Fill Text" %}<br>
                        {% trans "Please Input Fill text!!" %}<br>
                    </h3>
                </div>
                <!-- Head13: Page13 -->
                <div class="headStep">
                    <h3>{% trans "Please select a table" %}<br></h3>
                </div>
                <!-- Head14: Page14 -->
                <div class="headStep">
                    <h3>{% trans "Table type" %}:<br>
                        {% trans "Please select a table below!!" %}<br>
                    </h3>
                </div>
                <!-- Head15: Page15 -->
                <div class="headStep">
                    <h3>Column selection<br>
                        Please select a column below!!<br>
                    </h3>
                </div>
                <!-- Head16: Page16 -->
                <div class="headStep">
                    <h3>{% trans "File Download selection" %}<br>
                        {% trans "Please select a file!!" %}<br>
                    </h3>
                </div>
                <!-- Head17: Page17 -->
                <div class="headStep">
                    <h3>{% trans "Did you want similar files?" %}<br>
                        {% trans "Yes? or No?" %}<br>
                    </h3>
                </div>
                <!-- Head18: Page18 -->
                <div class="headStep">
                    <h3>{% trans "File similar confirmation" %}<br>
                        {% trans "Do you want to cancel?" %}<br>
                    </h3>
                </div>
                <!-- Head19: Page19 -->
                <div class="headStep">
                    <h3>{% trans "Number of Pagination pages!!" %}<br>
                    </h3>
                </div>
                <!-- Divider -->
                <hr class="sidebar-divider my-0"></br>
                <div id="start_div2" style="margin: auto;">
                    <div style="width: 70%; margin: 0 auto; text-align: left">
                        <div>URL:
                            <input id="start_url" type="text" name="start_url" onkeyup="startCheck()" required></br>
                        </div>
                        <input id="is_login" type="checkbox" name="is_login" onchange="loginBox()">&nbsp;{% trans "If login required" %}</br>
                        <div id="hidden_fields">
                            {% trans "Login URL" %}: <input id="login_url" type="text" name="login_url" onkeyup="startCheck()">
                        </div></br>
                        <input id="submit_url" type="button" class="btn btn-primary btn-fill btn-info" value="{% trans "Submit" %}" disabled>
                    </div>
                </div>
                <!--<div class="row my-side-div">-->
                <!-- Login0: Login confirm -->
                <div class="loginConfig">
                    <div><button id="action_login_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button></div>
                </div>
                <!-- Login1: Login fill -->
                <div class="loginConfig">
                    <div><input id="action_login_text" type="text" placeholder="{% trans "Login ID" %}" onkeyup="usernameCheck()" style="display:block"></div>
                    <div><button id="action_login_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Password" %}</button></div>
                </div>
                <!-- Login2: Password confirm -->
                <div class="loginConfig">
                    <div><button id="action_password_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button></div>
                    <div><button id="action_nextpage_password" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Password Next Page" %}</button></div>
                </div>
                <!-- Login3: Password fill -->
                <div class="loginConfig">
                    <div><input id="action_password_text" type="password" placeholder="Password" onkeyup="passwordCheck()" style="display:block"></div>
                    <button id="action_password_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Button Click" %}</button>
                </div>
                <!-- Login4: Finish Login -->
                <div class="loginConfig">
                    <button id="finish_login" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Login-in to Main Page" %}</button></br></br>
                </div>
                <!-- Login5: Login Simple Password, Click confirm for Next page-->
                <div class="loginConfig">
                    <div><button id="password_click_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                </div>
                <!-- Login6: Login Simple Password confirm-->
                <div class="loginConfig">
                    <div><button id="action_simple_password" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                </div>

                <!-- Link Login6 to Login3 -->
                <div class="projectStep">
                    No Filter: <button id="action_extract" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Data extraction" %}</button></br></br>
                    Req Filter: <button id="action_fc" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Extraction after fill and click" %}</button>
                </div>
                <!-- Page1: Fill and Click -->
                <div class="projectStep">
                    <div><button id="action_fill" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Fill text field" %}</button></div>
                    <div><button id="action_click" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Click/Filter" %}</button></div>
                </div>
                <!-- Page2: Data Extraction -->
                <div class="projectStep">
                    <button id="action_text" type="button" class="btn btn-primary btn-fill btn-info">{% trans "text" %}</button>
                    <button id="action_url" type="button" class="btn btn-primary btn-fill btn-info">{% trans "url" %}</button>
                    <!-- <button id="action_img" type="button" class="btn btn-primary btn-fill btn-info">{% trans "image" %}</button> </br> -->
                    <!-- <button id="action_img_url" type="button" class="btn btn-primary btn-fill btn-info">{% trans "image url" %}</button> -->
                    <button id="action_table" type="button" class="btn btn-primary btn-fill btn-info">{% trans "table" %}</button>
                    <!-- <button id="action_file" type="button" class="btn btn-primary btn-fill btn-info">{% trans "file" %}</button> -->
                </div>
                <!-- Page3: Fill button -->
                <div class="projectStep">
                    <div><button id="fill_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                </div>
                <!-- Page4: Click button -->
                <div class="projectStep">
                    <div><button id="click_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                </div>
                <!-- Page5: Text button -->
                <div class="projectStep">
                    <div><button id="simple_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                </div>
                <!-- Page6: Similar condition -->
                <div class="projectStep">
                    <div><button id="similar_yes" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Yes" %}</button></div>
                    <div><button id="similar_no" class="btn btn-primary btn-fill btn-info">{% trans "No" %}</button></div>
                </div>
                <!-- Page7: Similar confirm -->
                <div class="projectStep">
                    <div><button id="similar_confirm" class="btn btn-primary btn-fill btn-info" type="button" disabled>{% trans "OK" %}</button></div>
                </div>
                <!-- Page8: Column Name Input -->
                <div class="projectStep">
                    <div><input id="column_text" type="text" placeholder="{% trans "Column name" %}" onkeyup="colCheck()" style="display:block"></div>
                    <div><button id="column_name" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "next" %}</button></div>
                </div>
                <!-- Page9: (Return Action/ End) decision -->
                <div class="projectStep">
                    <div><button id="continue_action" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Set additional data" %}</button></div>
                    <div><button id="next_to_pagination" type="button" class="btn btn-primary btn-fill btn-info">{% trans "next" %}</button></div>
                </div>
                <!-- Page10: (Pagination Action/ Skip) decision -->
                <div class="projectStep">
                    <div><button id="pagination_confirm" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next" %}</button></div>
                    <div><button id="pagination_skip" class="btn btn-primary btn-fill btn-info">{% trans "Skip" %}</button></div>
                </div>
                <!-- Page11: Project Name and Finish -->
                <div class="projectStep">
                    <div><input id="project_name" type="text" placeholder="{% trans "Project name" %}" onkeyup="pnameCheck()" style="display:block"></div>
                    <div><button id="finish" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Project Done" %}</button></div>
                </div>
                <!-- Page12: Fill Step and Next button-->
                <div class="projectStep">
                    <div><input id="action_fill_text" type="text" onkeyup="fillCheck()" style="display:block" disabled></div>
                    <div><button id="action_fill_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Click" %}</button></div>
                </div>
                <!-- Page13: Table confirm -->
                <div class="projectStep">
                    <div><button id="action_table_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button></div>
                </div>
                <!-- Page14: Table decision -->
                <div class="projectStep">
                    <div><button id="action_col_confirm" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Column Table" %}</button></div>
                    <div><button id="action_full_confirm" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Full Table" %}</button></div>
                </div>
                <!-- Page15: Column Add/ Next button -->
                <div class="projectStep">
                    <div><button id="action_add_col" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Add column" %}</button></div>
                    <div><button id="action_col_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next" %}</button></div>
                </div>
                <!-- Page16: File download confirm -->
                <div class="projectStep">
                    <div><button id="action_file_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button></div>
                </div>
                <!-- Page17: File similar condition -->
                <div class="projectStep">
                    <div><button id="file_yes" class="btn btn-primary btn-fill btn-info">{% trans "Yes" %}</button></div>
                    <div><button id="file_no" class="btn btn-primary btn-fill btn-info">{% trans "No" %}</button></div>
                </div>
                <!-- Page18: File similar cancel-->
                <div class="projectStep">
                    <div><button id="file_next" class="btn btn-primary btn-fill btn-info">{% trans "Next" %}</button></div>
                    <div><button id="file_cancel" class="btn btn-primary btn-fill btn-info">{% trans "File cancel" %}</button></div>
                </div>
                <!-- Page19: Pagination Number -->
                <div class="projectStep">
                    <div><input id="pag_num" type="text" value="2" onkeyup="paginationCheck()" style="display:block"></div>
                    <div><button id="pagination_next" class="btn btn-primary btn-fill btn-info">{% trans "Next" %}</button></div>
                </div>
                <!--</div>-->
                <!-- Divider -->
                <hr class="">
                <div>
                    <ul class="progressbar">
                        <li class="active">{% trans "Extract" %}</li>
                        <li id="p-pagination">{% trans "Pagination" %}</li>
                        <li id="p-finish">{% trans "Finish" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card shadow mb-0">
            <div class="card-body" style="height:100%;">
                <!--<iframe id="iframe" allowfullscreen></iframe>-->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="iframe" class="embed-responsive-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
    var checkbox = $("#is_login");
    var hidden = $("#hidden_fields");
    var populate = $("#start_url");
    hidden.hide();
    checkbox.change(function() {
        if (checkbox.is(':checked')) {
            hidden.show();
            $('#login_url').prop('required', true);
            //populate.val("Dude, this input got populated!");
        } else {
            hidden.hide();
            $('#login_url').prop('required', false);
            // $("#hidden_field").val("");
        }
    });
});
$("#buttn").click(function() {
    if ($(this).html() == "-") {
        $(this).html("+");
    } else {
        $(this).html("-");
    }
    $("#box").toggle();
});

</script>

<script type="text/javascript">
    function validateUrl(value) {
        return /^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:[/?#]\S*)?$/i.test(value);
    }

    function startCheck() {
        let start_url = document.getElementById('start_url').value;
        if (validateUrl(start_url)) {
            let login_check_box = document.getElementById('is_login').checked;
            if (login_check_box) {
                let login_url = document.getElementById('login_url').value;
                if (validateUrl(login_url)) {
                    document.getElementById('submit_url').disabled = false;
                } else {
                    document.getElementById('submit_url').disabled = true;
                }
            } else {
                document.getElementById('submit_url').disabled = false;
            }
        } else {
            document.getElementById('submit_url').disabled = true;
        }
    }

    function loginBox() {
        let login_check_box = document.getElementById('is_login').checked;
        let login_url = document.getElementById('login_url').value;
        if (login_check_box && login_url === '') {
            document.getElementById('submit_url').disabled = true;
        }
    }

    function colCheck() {
        let col_input = document.getElementById('column_text').value;
        if (col_input === "") {
            document.getElementById('column_name').disabled = true;
        } else {
            document.getElementById('column_name').disabled = false;
        }
    }

    function usernameCheck() {
        let login_text = document.getElementById('action_login_text').value;
        if (login_text === "") {
            document.getElementById('action_login_next').disabled = true;
        } else {
            document.getElementById('action_login_next').disabled = false;
        }
    }

    function passwordCheck() {
        let password_text = document.getElementById('action_password_text').value;
        if (password_text === "") {
            document.getElementById('action_password_next').disabled = true;
        } else {
            document.getElementById('action_password_next').disabled = false;
        }
    }

    function fillCheck() {
        let action_fill_text = document.getElementById('action_fill_text').value;
        if (action_fill_text === "") {
            document.getElementById('action_fill_next').disabled = true;
        } else {
            document.getElementById('action_fill_next').disabled = false;
        }
    }

    function paginationCheck() {
        let pag_num = document.getElementById('pag_num').value;
        if (pag_num !== "" && Number.isInteger(Number(pag_num)) && Number(pag_num)>0){
            document.getElementById('pagination_next').disabled = false;
        } else {
            document.getElementById('pagination_next').disabled = true;
        }
    }

    function pnameCheck() {
        let project_name = document.getElementById('project_name').value;
        if (project_name === "") {
            document.getElementById('finish').disabled = true;
        } else {
            document.getElementById('finish').disabled = false;
        }
    }

</script>
{% endblock%}
