{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Pigdata-SaaS{% endblock %}
{% block meta %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(function() {
  var checkbox = $("#is_login");
  var hidden = $("#hidden_fields");
  var populate = $("#start_url");
  hidden.hide();
  checkbox.change(function() {
    if (checkbox.is(':checked')) {
      hidden.show();
      $('#login_url').prop('required', true);
      //populate.val("Dude, this input got populated!");
    } else {
      hidden.hide();
      $('#login_url').prop('required', false);
    // $("#hidden_field").val("");
    }
  });
});
</script>
{% endblock %}
{% block content %}
<!--<form action="/pigdata-saas/" method="post">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->

<div class="card-block" style="margin: 100px auto; width:555px; height:360px;" >
  <form action="/saas/" method="POST">
    <div style="width: 50%; margin: 0 auto; text-align: left">
    URL: <input type="text" id="start_url" name="start_url" required> </br>
    If login required: <input type="checkbox" id="is_login" name="is_login"></br>
    <div id="hidden_fields">
      Login URL: <input type="text" id="login_url" class="form-control" name="login_url">
    </div>
    <input  type="submit" class="btn btn-primary btn-fill btn-info" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
